#header {
  width: 100%;
  height: $header-height;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: all 0.3s;

    .logo a {
      color: #000000;
      font-size: 2.4rem;
      span {
        color: $brand-green;
        font-weight: 700;
      }
    }
    #nav {
      width: 100%;
      height: 100vh;
      background-color: $brand-green;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2.4rem;

      position: absolute;
      top: $header-height;
      left: 0;
      z-index: 2;

      transform: translateY(120%);
      transition: 0.3s;
      .menu {
        margin-top: 2.4rem;
        gap: 3.5rem;
        li {
          text-align: center;
          a {
            font-size: 2.4rem;
            font-weight: 700;
            color: $white;
          }
        }
      }
      .button {
        margin-top: 1.1rem;
        background-color: $white;
        color: $brand-green;
      }
      .social-media {
        display: flex;
      }
      &.show {
        transform: translateY(0);
        overflow: hidden;
      }
    }
    .menu-btn {
      position: relative;
      .icon {
        width: 4rem;
      }
      .close {
        position: absolute;
        right: 0;
        display: block;
        transform: translateY(-10rem);
        transition: all 0.3s;
        svg path {
          stroke: $brand-green;
        }
      }
      .open {
        visibility: visible;
        opacity: 1;
        transition: all 0.3s;
        svg path {
          stroke: $brand-green;
        }
      }
      &.show {
        .close {
          transform: translateY(-4rem);
        }
        .open {
          transform: translateX(10rem);
        }
      }
    }
  }
  &.background {
    .container {
      background-color: $brand-green;
      .logo a {
        color: $white;
        span {
          color: $white;
        }
      }
      .menu-btn {
        .open {
          svg path {
            stroke: $white;
          }
        }
        .close {
          svg path {
            stroke: $white;
          }
        }
      }
    }
  }
  @media (min-width: 941px) {
    .container {
      #nav {
        width: 67%;
        height: 100%;
        background-color: transparent;

        position: static;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transform: none;

        .menu {
          display: flex;
          gap: 2.5rem;
          margin-top: 0;
          li a {
            font-size: 1.7rem;
            color: $brand-green;
            position: relative;
            &::after {
              content: "";
              display: block;
              width: 0;
              height: 0.2rem;
              background-color: $brand-green;
              border-radius: 0.5rem;

              position: absolute;
              bottom: -2.5rem;

              transition: all 0.3s;
            }
            &:hover::after,
            &.active::after {
              width: 100%;
            }
          }
        }
        .button {
          background-color: transparent;
          border: 1px solid;
          transition: all 0.3s;
          margin: 0;
          &:hover {
            background-color: $brand-green;
            color: $white;
          }
        }
        .social-media {
          display: none;
        }
      }
      .menu-btn {
        display: none;
      }
    }
    &.background {
      .container {
        #nav {
          .menu li a {
            color: $white;
            &::after {
              background-color: $white;
            }
          }
          .button {
            color: $white;
            &:hover {
              background-color: $white;
              color: $brand-green;
            }
          }
        }
      }
    }
  }
}

#main {
  .section {
    .section1 {
      position: relative;
      .welcome {
        max-width: 54rem;
        margin-inline: auto;
        h1.title {
          font-size: 3.4rem;
        }
        p {
          font-size: 1.8rem;
        }
      }
      .mulher-sorrindo {
        max-width: 26.4rem;
        display: block;
        object-position: 0 2rem;
      }
      .stats {
        width: 100%;
        max-width: 37rem;
        background-color: $brand-beige;
        padding-block: 4rem;

        display: grid;
        gap: 6rem;

        border-radius: 0.6rem;
        .stat {
          h3 {
            font-size: 4.8rem;
          }
          p {
            color: $brand-green;
          }
        }
      }
      &::before {
        content: "";
        width: 100%;
        height: 83%;
        background-color: $brand-green-light;
        display: block;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      @media (min-width: 941px) {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 42rem;
        align-items: center;
        .welcome {
          margin-inline: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left;
          //   max-width: 60.5rem;
          .title {
            margin-bottom: 0;
            display: inline-block;
            font-size: 5.2rem;
          }
          .subtitle {
            margin-bottom: 0;
          }
          .button {
            margin-inline: 0;
          }
        }
        .mulher-sorrindo {
          max-width: 42rem;
          object-position: 0 6rem;
        }
        .stats {
          grid-column: 1/4;
          display: flex;
          max-width: 112rem;
          align-items: center;
          justify-content: center;
          .stat {
            flex: 1;
            position: relative;

            &:nth-child(1)::after,
            &:nth-child(2)::after {
              content: "";
              width: 1px;
              height: 100%;

              background-color: $brand-green;
              display: block;

              position: absolute;
              right: -3.3rem;
              top: 0;
            }
          }
        }
        &::before {
          height: 89%;
        }
      }
    }
    .section2 {
      padding-bottom: 10rem;
      .cards__services {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 3.2rem;
        .service {
          flex: 1 1 32.7rem;
          background-color: #ffffff;
          border-radius: 1rem;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 1.6rem;
          text-align: left;

          padding: 2.4rem;
          .checked {
            circle {
              fill: $brand-green-light;
            }
            path {
              stroke: $brand-green;
            }
          }
          .service__title {
            font-size: 2.4rem;
            font-weight: 700;
          }
        }
      }
    }
    .section3 {
      background-color: $brand-beige;
      padding-bottom: 4rem;
      text-align: left;
      .content {
        p {
          margin-bottom: 4rem;
        }
      }
      img {
        max-width: 35.7rem;
        display: block;
      }
      @media (min-width: 900px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6.7rem;
        padding-bottom: 10rem;
        .content {
          flex: 6;
          .title {
            margin-bottom: 2rem;
          }
          p {
            margin-bottom: 0;
          }
        }
        img {
          flex: 4;
          order: -1;
          width: 50%;
          max-width: 48rem;
        }
      }
    }
    .section4 {
      padding-bottom: 10rem;
      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 32.7rem;
        margin-inline: auto;
        .button {
          margin-bottom: 4rem;
        }
        address,
        .mail {
          display: flex;
          align-items: center;
          gap: 1rem;

          margin-bottom: 3rem;
          path {
            stroke: $brand-green;
          }
        }
      }
      img {
        max-width: 35.7rem;
        display: block;
      }
      @media (min-width: 800px) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        .content {
          max-width: 40.5rem;
          .title {
            text-align: left;
          }
          address,
          .mail {
            margin-inline: 0;
          }
          .button {
            margin-inline: 0;
          }
        }
        img.man-smile {
          width: 50%;
          max-width: 57.5rem;
        }
      }
    }
  }
}

#footer {
  background-color: $brand-green;
  padding-block: 6rem;
  .container {
    .copyright {
      .logo a {
        color: $white;
        font-size: 3.6rem;
        span {
          font-weight: 700;
        }
      }
      p {
        color: $white;
      }
    }
    .social-media {
      display: flex;
      li a img {
        transition: 0.3s;
        &:hover {
          transform: translateY(-0.5rem);
        }
      }
    }
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
