// primary colors
$hue: 170;
$brand-green: hsl($hue, 100%, 26.1%);
$brand-green-light: hsl(147.7, 22.8%, 88.8%);
$brand-green-light-02: hsl($hue, 14.3%, 97.3%);
$brand-beige: hsl(38.6, 100%, 97.3%);
$brand-green-hover: hsl($hue, 100%, 13.5%);

// secondary colors

$gray-headline: hsl(210, 11%, 15%);
$gray-paragraph: hsl(210, 9%, 31%);
$white: hsl(0, 0%, 96%);

// fonts

$fontBody: "DM Sans", sans-serif;

$header-height: 4.5rem;
