* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font: 400 1.6rem "DM Sans", sans-serif;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
}
body.overflow {
  overflow: hidden;
}

p {
  color: #484f56;
  line-height: 150%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin-inline: auto;
  padding-inline: 6%;
}

.container__section {
  padding-block: 10rem;
}

.button {
  padding: 1.7rem 3.2rem;
  border-radius: 4rem;
  background-color: #00856f;
  border: none;
  font: 700 1.4rem "DM Sans", sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  transition: background 0.3s;
}
.button:hover {
  background-color: #004539;
}

.shadow {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.gap {
  display: grid;
  gap: 2.4rem;
}

.icon {
  width: 2.4rem;
  cursor: pointer;
}

.margin-inline {
  margin-inline: auto;
}

#header {
  width: 100%;
  height: 7.2rem;
  background-color: #dce9e2;
  transition: background 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header .container .logo a {
  color: #000000;
  font-size: 2.4rem;
}
#header .container .logo a span {
  color: #00856f;
  font-weight: 700;
}
#header .container #nav {
  width: 100%;
  height: 100vh;
  background-color: #00856f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  position: absolute;
  top: 7.2rem;
  left: 0;
  z-index: 2;
  transform: translateY(120%);
  transition: 0.3s;
}
#header .container #nav .menu {
  margin-top: 2.4rem;
  gap: 3.5rem;
}
#header .container #nav .menu li {
  text-align: center;
}
#header .container #nav .menu li a {
  font-size: 2.4rem;
  font-weight: 700;
  color: whitesmoke;
}
#header .container #nav .button {
  margin-top: 1.1rem;
  background-color: whitesmoke;
  color: #00856f;
}
#header .container #nav .social-media {
  display: flex;
}
#header .container #nav.show {
  transform: translateY(0);
  overflow: hidden;
}
#header .container .menu-btn {
  position: relative;
}
#header .container .menu-btn .icon {
  width: 4rem;
}
#header .container .menu-btn .close {
  position: absolute;
  right: 0;
  transform: translateY(-5rem);
  transition: all 0.3s;
}
#header .container .menu-btn .open {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}
#header .container .menu-btn.show .close {
  transform: translateY(0);
}
#header .container .menu-btn.show .open {
  visibility: hidden;
  opacity: 0;
}
#header.background {
  background-color: #00856f;
}
#header.background .container .logo a {
  color: whitesmoke;
}
#header.background .container .logo a span {
  color: whitesmoke;
}
#header.background-color {
  background-color: #00856f;
}
#header.background-color .container .logo a {
  color: whitesmoke;
}
#header.background-color .container .logo a span {
  color: whitesmoke;
}

#main .section .container__section {
  text-align: center;
  position: relative;
}
#main .section .container__section h4 {
  font-size: 1.4rem;
  color: #00856f;
}
#main .section .container__section h1 {
  font-size: 3.4rem;
}
#main .section .container__section p {
  font-size: 1.8rem;
}
#main .section .container__section .mulher-sorrindo {
  max-width: 26.4rem;
  display: block;
  object-position: 0 2rem;
}
#main .section .container__section .stats {
  width: 100%;
  max-width: 37rem;
  background-color: #fffaf1;
  padding-block: 4rem;
  display: grid;
  gap: 6rem;
  border-radius: 0.6rem;
}
#main .section .container__section .stats .stat h3 {
  font-size: 4.8rem;
}
#main .section .container__section .stats .stat p {
  color: #00856f;
}
#main .section .container__section::before {
  content: "";
  width: 100%;
  height: 77%;
  background-color: #dce9e2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#main .section .container__section2 {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
