* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font: 400 1.6rem "DM Sans", sans-serif;
  background-color: #f7f9f9;
  -webkit-font-smoothing: antialiased;
}
body.overflow {
  overflow: hidden;
}
@media (min-width: 1000px) {
  body {
    font: 400 1.8rem "DM Sans", sans-serif;
  }
}

p {
  color: #484f56;
  line-height: 150%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin-inline: auto;
  padding-inline: 6%;
}

.container__section {
  padding-top: 10rem;
  text-align: center;
}

.button {
  padding: 1.2rem 2.2rem;
  border-radius: 4rem;
  background-color: #00856f;
  border: none;
  font: 700 1.4rem "DM Sans", sans-serif;
  color: whitesmoke;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  transition: background 0.3s;
}
.button:hover {
  background-color: #004539;
}

.shadow {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.05);
}

.gap {
  display: grid;
  gap: 2.4rem;
}

.icon {
  width: 2.4rem;
  cursor: pointer;
}

.margin-inline {
  margin-inline: auto;
}

.subtitle {
  font-size: 1.4rem;
  color: #00856f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 6rem;
}

#header {
  width: 100%;
  height: 7.2rem;
  background-color: #dce9e2;
  transition: background 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}
#header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#header .container .logo a {
  color: #000000;
  font-size: 2.4rem;
}
#header .container .logo a span {
  color: #00856f;
  font-weight: 700;
}
#header .container #nav {
  width: 100%;
  height: 100vh;
  background-color: #00856f;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  position: absolute;
  top: 7.2rem;
  left: 0;
  z-index: 2;
  transform: translateY(120%);
  transition: 0.3s;
}
#header .container #nav .menu {
  margin-top: 2.4rem;
  gap: 3.5rem;
}
#header .container #nav .menu li {
  text-align: center;
}
#header .container #nav .menu li a {
  font-size: 2.4rem;
  font-weight: 700;
  color: whitesmoke;
}
#header .container #nav .button {
  margin-top: 1.1rem;
  background-color: whitesmoke;
  color: #00856f;
}
#header .container #nav .social-media {
  display: flex;
}
#header .container #nav.show {
  transform: translateY(0);
  overflow: hidden;
}
#header .container .menu-btn {
  position: relative;
}
#header .container .menu-btn .icon {
  width: 4rem;
}
#header .container .menu-btn .close {
  position: absolute;
  right: 0;
  transform: translateY(-5rem);
  transition: all 0.3s;
}
#header .container .menu-btn .open {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}
#header .container .menu-btn.show .close {
  transform: translateY(0);
}
#header .container .menu-btn.show .open {
  visibility: hidden;
  opacity: 0;
}
#header.background {
  background-color: #00856f;
}
#header.background .container .logo a {
  color: whitesmoke;
}
#header.background .container .logo a span {
  color: whitesmoke;
}
@media (min-width: 941px) {
  #header .container #nav {
    width: 65%;
    height: 100%;
    background-color: transparent;
    position: static;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: none;
  }
  #header .container #nav .menu {
    display: flex;
    gap: 2.5rem;
    margin-top: 0;
  }
  #header .container #nav .menu li a {
    font-size: 1.7rem;
    color: #00856f;
    position: relative;
  }
  #header .container #nav .menu li a::after {
    content: "";
    display: block;
    width: 0;
    height: 0.2rem;
    background-color: #00856f;
    border-radius: 0.5rem;
    position: absolute;
    bottom: -2.5rem;
    transition: all 0.3s;
  }
  #header .container #nav .menu li a:hover::after {
    width: 100%;
  }
  #header .container #nav .button {
    background-color: transparent;
    border: 1px solid;
    transition: all 0.3s;
    margin: 0;
  }
  #header .container #nav .button:hover {
    background-color: #00856f;
    color: whitesmoke;
  }
  #header .container #nav .social-media {
    display: none;
  }
  #header .container .menu-btn {
    display: none;
  }
  #header.background .container #nav .menu li a {
    color: whitesmoke;
  }
  #header.background .container #nav .menu li a::after {
    background-color: whitesmoke;
  }
  #header.background .container #nav .button {
    color: whitesmoke;
  }
  #header.background .container #nav .button:hover {
    background-color: whitesmoke;
    color: #00856f;
  }
}

#main .section .section1 {
  position: relative;
}
#main .section .section1 .welcome h1.title {
  font-size: 3.4rem;
}
#main .section .section1 .welcome p {
  font-size: 1.8rem;
}
#main .section .section1 .mulher-sorrindo {
  max-width: 26.4rem;
  display: block;
  object-position: 0 2rem;
}
#main .section .section1 .stats {
  width: 100%;
  max-width: 37rem;
  background-color: #fffaf1;
  padding-block: 4rem;
  display: grid;
  gap: 6rem;
  border-radius: 0.6rem;
}
#main .section .section1 .stats .stat h3 {
  font-size: 4.8rem;
}
#main .section .section1 .stats .stat p {
  color: #00856f;
}
#main .section .section1::before {
  content: "";
  width: 100%;
  height: 77%;
  background-color: #dce9e2;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media (min-width: 941px) {
  #main .section .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #main .section .section1 .welcome {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.5rem;
  }
  #main .section .section1 .welcome .title {
    margin-bottom: 0;
  }
  #main .section .section1 .stats {
    width: 100%;
    max-width: 90%;
    display: flex;
  }
}
#main .section .section2 {
  padding-bottom: 10rem;
}
#main .section .section2 .cards__services {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
#main .section .section2 .cards__services .service {
  flex: 1 1 32.7rem;
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.6rem;
  text-align: left;
  padding: 2.4rem;
}
#main .section .section2 .cards__services .service .service__title {
  font-size: 2.4rem;
  font-weight: 700;
}
#main .section .section3 {
  background-color: #fffaf1;
  padding-bottom: 4rem;
  text-align: left;
}
#main .section .section3 .content p {
  margin-bottom: 4rem;
}
#main .section .section3 img {
  max-width: 35.7rem;
  display: block;
}
@media (min-width: 900px) {
  #main .section .section3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6.7rem;
    padding-bottom: 10rem;
  }
  #main .section .section3 .content {
    flex: 6;
  }
  #main .section .section3 .content .title {
    margin-bottom: 2rem;
  }
  #main .section .section3 .content p {
    margin-bottom: 0;
  }
  #main .section .section3 img {
    flex: 4;
    order: -1;
    width: 50%;
    max-width: 48rem;
  }
}
#main .section .section4 {
  padding-bottom: 10rem;
}
#main .section .section4 .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 32.7rem;
  margin-inline: auto;
}
#main .section .section4 .content .button {
  margin-bottom: 4rem;
}
#main .section .section4 .content address,
#main .section .section4 .content .mail {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
#main .section .section4 img {
  max-width: 35.7rem;
  display: block;
}
@media (min-width: 800px) {
  #main .section .section4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
  }
  #main .section .section4 .content {
    max-width: 40.5rem;
  }
  #main .section .section4 .content .title {
    text-align: left;
  }
  #main .section .section4 .content address,
#main .section .section4 .content .mail {
    margin-inline: 0;
  }
  #main .section .section4 .content .button {
    margin-inline: 0;
  }
  #main .section .section4 img.man-smile {
    width: 50%;
    max-width: 57.5rem;
  }
}

#footer {
  background-color: #00856f;
  padding-block: 6rem;
}
#footer .container .copyright .logo a {
  color: whitesmoke;
  font-size: 3.6rem;
}
#footer .container .copyright .logo a span {
  font-weight: 700;
}
#footer .container .copyright p {
  color: whitesmoke;
}
#footer .container .social-media {
  display: flex;
}
#footer .container .social-media li a img {
  transition: 0.3s;
}
#footer .container .social-media li a img:hover {
  transform: translateY(-0.5rem);
}
@media (min-width: 768px) {
  #footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
